.navbar {
    overflow: hidden;
    top: 0;
    display:flex;
    justify-content:left !important;
    background-color: rgb(232, 250, 232);
}
      /* Style the navigation bar links */
.navbar a {
    padding-left:0%;
    display:block;
    color: rgb(12, 11, 11);
    padding-left : 2%;
}
  
     /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
.navbar a {
    float: none;
    width: 100%;
    }
}